main {
    width: 1440px;
    
}
.shell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.block1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #ccc8c2;
    padding: 40px;
}

.block2,
.block3,
.block4,
.block5 {
    display: flex;
    flex-direction: row;
}
.name {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 20px;
}
.photo {
    display: flex;
    flex-direction: column;
    background-color: #ccc8c2;
    width: 40%;
    padding: 0px 40px 0px 40px;
}
.myphoto {
    position: relative;
    z-index: 5;
    width: 50%;
    border-radius: 94px;
    justify-content: center;
    transform: rotate(348deg);
}

.about_me,
.education,
.work,
.courses {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    justify-content: center;
    align-items: flex-start;
    width: 65%;
    padding: 0px 20px 0px 60px;
}

.contacts,
.skills,
.languages,
.projects {
    display: flex;
    flex-direction: column;
    background-color: #ccc8c2;
    width: 35%;
    padding: 0px 50px 0px 20px;
    justify-content: center;
}

.university,
.skills-progress,
.work-place {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.ages {
    width: 20%;
    padding-right: 8px;
}
.progress {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
}
.progress_pic {
    height: 15px;
    width: 105px;
}
.specialty {
    width: 80%;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #ccc8c2;
    padding: 0 340px 0;
}